[project]
	description = android_build
[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group slim_build
	label-Verified = group slim_build
	rebase = group slim_build
	removeReviewer = group slim_build
	submit = group slim_build
[access "refs/heads/*"]
	push = +force group slim_build
	pushMerge = group slim_build
